                    .S_ind-1 {
                        z-index: -1 !important;
                    }
                    
                    .S_ind_0 {
                        z-index: 0 !important;
                    }
                    
                    .S_ind_1 {
                        z-index: 1 !important;
                    }
                    
                    .S_ind_2 {
                        z-index: 2 !important;
                    }
                    
                    .S_ind_3 {
                        z-index: 3 !important;
                    }
                    
                    .S_ind_1000 {
                        z-index: 1000 !important;
                    }
                    /* Text color */
                    
                    .text-P1 {
                        color: #D3B7D8 !important;
                    }
                    
                    .text-P2 {
                        color: #A13E97 !important;
                    }
                    
                    .text-P3 {
                        color: #632A7E !important;
                    }
                    
                    .text-P4 {
                        color: #280E3B !important;
                    }
                    
                    .text-G1 {
                        color: #666666 !important;
                    }
                    
                    .text-B {
                        color: #000 !important;
                    }
                    /* background color */
                    
                    .back_c_0 {
                        background-color: #fff;
                    }
                    
                    .back_c_1 {
                        background-color: #f8f9fa;
                    }
                    
                    .back_c_2 {
                        background-color: #f1f3f5;
                    }
                    
                    .back_c_3 {
                        background-color: #e9ecef;
                    }
                    
                    .back_c_4 {
                        background-color: #dee2e6;
                    }
                    
                    .back_c_4 {
                        background-color: #ced4da;
                    }
                    /* Text size */
                    
                    .text_0-6 {
                        font-size: 0.6rem;
                    }
                    
                    .text_0-7 {
                        font-size: 0.7rem;
                    }
                    
                    .text_0-8 {
                        font-size: 0.8rem;
                    }
                    
                    .text_0-9 {
                        font-size: 0.9rem;
                    }
                    
                    .text_1 {
                        font-size: 1rem !important;
                    }
                    
                    .text_1-1 {
                        font-size: 1.1rem;
                    }
                    
                    .text_1-2 {
                        font-size: 1.2rem;
                    }
                    
                    .text_1-3 {
                        font-size: 1.3rem;
                    }
                    
                    .text_1-4 {
                        font-size: 1.4rem;
                    }
                    
                    .text_1-5 {
                        font-size: 1.5rem;
                    }
                    
                    .text_2 {
                        font-size: 2rem !important;
                    }
                    
                    .text_2-5 {
                        font-size: 2.5rem;
                    }
                    
                    .text_2-8 {
                        font-size: 2.8rem;
                    }
                    
                    .text_3 {
                        font-size: 3rem;
                    }
                    
                    .text_3-5 {
                        font-size: 3.5rem;
                    }
                    
                    .text_4 {
                        font-size: 4rem;
                    }
                    
                    .text_4-5 {
                        font-size: 4.5rem;
                    }
                    
                    .text_5 {
                        font-size: 5rem;
                    }
                    
                    .text_5-5 {
                        font-size: 5.5rem;
                    }
                    /* a태그 밑줄 없애기 */
                    
                    .a_none {
                        text-decoration: none;
                    }
                    /* 정렬 */
                    
                    .jus_between {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .f_l {
                        float: left;
                    }
                    
                    .t_a {
                        text-align: center;
                    }
                    /* 패딩 탑,바텀  */
                    
                    .p_tb_1 {
                        padding-top: 2rem !important;
                        padding-bottom: 2rem !important
                    }
                    
                    .p_tb_1-5 {
                        padding-top: 1.5rem !important;
                        padding-bottom: 1.5rem !important
                    }
                    
                    .p_tb_2 {
                        padding-top: 2rem !important;
                        padding-bottom: 2rem !important
                    }
                    
                    .p_tb_3 {
                        padding-top: 3rem !important;
                        padding-bottom: 3rem !important
                    }
                    
                    .p_tb_24px {
                        padding-top: 24px !important;
                        padding-bottom: 24px !important
                    }
                    
                    .p_tb_20px {
                        padding-top: 20px !important;
                        padding-bottom: 20px !important
                    }
                    /* 마진 탑,바텀 */
                    
                    .mt_1-2 {
                        margin-top: 1.2rem !important
                    }
                    
                    .ms_1 {
                        margin-left: 1rem !important;
                    }
                    
                    .ms_1-1 {
                        margin-left: 1.1rem !important;
                    }
                    
                    .ms_1-2 {
                        margin-left: 1.2rem !important;
                    }
                    
                    .ms_1-3 {
                        margin-left: 1.3rem !important;
                    }
                    
                    .ms_1-5 {
                        margin-left: 1.4rem !important;
                    }
                    /* 네모박스 */
                    
                    .squ_1 {
                        background-color: #280E3B;
                        color: #D3B7D8;
                        border-radius: 0.2;
                    }
                    
                    .squ_1:hover {
                        color: #280E3B;
                        background-color: #D3B7D8;
                        border: #280E3B solid 1px;
                    }
                    /* 호버 h1~h5 */
                    
                    h1>a:hover,
                    .h1>a:hover,
                    h2>a:hover,
                    .h2>a:hover,
                    h3>a:hover,
                    .h3>a:hover,
                    h4>a:hover,
                    .h4>a:hover,
                    h5>a:hover,
                    .h5>a:hover,
                    h6>a:hover,
                    .h6>a:hover {
                        color: #A13E97;
                    }
                    
                    a:hover {
                        color: #632A7E;
                        text-decoration: none;
                    }
                    /* 버튼 */
                    
                    .S_btn1 {
                        display: inline-block;
                        line-height: 2.6rem;
                        color: #D3B7D8;
                        text-align: center;
                        text-decoration: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        border: var(--ar-btn-border-width) solid var(--ar-btn-border-color);
                        border-radius: 11px;
                        background-color: #280E3B;
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out
                    }
                    
                    .S_btn2 {
                        display: inline-block;
                        line-height: 2.7rem;
                        color: #D3B7D8;
                        text-align: center;
                        text-decoration: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        border: var(--ar-btn-border-width) solid var(--ar-btn-border-color);
                        border-radius: 11px;
                        background-color: #A13E97;
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out
                    }
                    
                    .S_btn3 {
                        display: inline-block;
                        line-height: 2.7rem;
                        color: #D3B7D8;
                        text-align: center;
                        text-decoration: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        border: var(--ar-btn-border-width) solid var(--ar-btn-border-color);
                        border-radius: 11px;
                        background-color: #632A7E;
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out
                    }
                    
                    .S_btn1:hover {
                        color: #280E3B;
                        background-color: white;
                    }
                    
                    .S_btn2:hover {
                        color: #A13E97;
                        background-color: white;
                    }
                    
                    .S_btn3:hover {
                        color: #632A7E;
                        background-color: white;
                    }
                    /* 화살표 버튼 */
                    
                    .S_btn-outline-primary-p {
                        --ar-btn-color: #632A7E;
                        --ar-btn-border-color: #632A7E;
                        --ar-btn-hover-color: #000;
                        --ar-btn-hover-bg: #632A7E;
                        --ar-btn-hover-border-color: #632A7E;
                        --ar-btn-focus-shadow-rgb: 68, 140, 116;
                        --ar-btn-active-color: #000;
                        --ar-btn-active-bg: #632A7E;
                        --ar-btn-active-border-color: #632A7E;
                        --ar-btn-active-shadow: unset;
                        --ar-btn-disabled-color: #632A7E;
                        --ar-btn-disabled-bg: transparent;
                        --ar-btn-disabled-border-color: #632A7E;
                        --ar-gradient: none
                    }
                    
                    .S_btn_4 {
                        --ar-btn-padding-x: 1.75rem;
                        --ar-btn-padding-y: 0.825rem;
                        --ar-btn-font-family: ;
                        --ar-btn-font-size: calc(var(--ar-body-font-size) * 0.875);
                        --ar-btn-font-weight: 600;
                        --ar-btn-line-height: 1.4;
                        --ar-btn-color: #632A7E;
                        --ar-btn-bg: transparent;
                        --ar-btn-border-width: var(--ar-border-width);
                        --ar-btn-border-color: transparent;
                        --ar-btn-border-radius: var(--ar-border-radius);
                        --ar-btn-box-shadow: unset;
                        --ar-btn-disabled-opacity: 0.65;
                        --ar-btn-focus-box-shadow: 0 0 0 0 rgba(var(--ar-btn-focus-shadow-rgb), .5);
                        display: inline-block;
                        padding: var(--ar-btn-padding-y) var(--ar-btn-padding-x);
                        font-family: var(--ar-btn-font-family);
                        font-size: calc(1.5rem);
                        font-weight: var(--ar-btn-font-weight);
                        line-height: var(--ar-btn-line-height);
                        color: var(--ar-btn-color);
                        text-align: center;
                        text-decoration: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        border: 2px solid #632A7E;
                        border-radius: var(--ar-btn-border-radius);
                        background-color: var(--ar-btn-bg);
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out
                    }
                    
                    @media(prefers-reduced-motion: reduce) {
                        .S_btn_4 {
                            transition: none
                        }
                    }
                    
                    .S_btn_4:hover {
                        color: #fff;
                        background-color: var(--ar-btn-hover-bg);
                        border-color: var(--ar-btn-hover-border-color)
                    }
                    
                    .S_btn-p {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center
                    }
                    
                    .S_btn-icon-p {
                        --ar-btn-size: 3rem;
                        flex-shrink: 0;
                        width: var(--ar-btn-size);
                        height: var(--ar-btn-size);
                        padding: 0
                    }
                    
                    .S_rounded-circle-p {
                        border-radius: 50% !important
                    }
                    
                    .S_btn-outline-primary {
                        --ar-btn-color: #A13E97;
                        --ar-btn-border-color: #A13E97;
                        --ar-btn-hover-color: #000;
                        --ar-btn-hover-bg: #A13E97;
                        --ar-btn-hover-border-color: #A13E97;
                        --ar-btn-focus-shadow-rgb: 68, 140, 116;
                        --ar-btn-active-color: #000;
                        --ar-btn-active-bg: #A13E97;
                        --ar-btn-active-border-color: #A13E97;
                        --ar-btn-active-shadow: unset;
                        --ar-btn-disabled-color: #A13E97;
                        --ar-btn-disabled-bg: transparent;
                        --ar-btn-disabled-border-color: #A13E97;
                        --ar-gradient: none;
                    }
                    
                    .S_btn_5 {
                        --ar-btn-padding-x: 1.75rem;
                        --ar-btn-padding-y: 0.825rem;
                        --ar-btn-font-family: ;
                        --ar-btn-font-size: calc(var(--ar-body-font-size) * 0.875);
                        --ar-btn-font-weight: 600;
                        --ar-btn-line-height: 1.4;
                        --ar-btn-color: #576071;
                        --ar-btn-bg: transparent;
                        --ar-btn-border-width: var(--ar-border-width);
                        --ar-btn-border-color: transparent;
                        --ar-btn-border-radius: var(--ar-border-radius);
                        --ar-btn-box-shadow: unset;
                        --ar-btn-disabled-opacity: 0.65;
                        --ar-btn-focus-box-shadow: 0 0 0 0 rgba(var(--ar-btn-focus-shadow-rgb), .5);
                        display: inline-block;
                        padding: var(--ar-btn-padding-y) var(--ar-btn-padding-x);
                        font-family: var(--ar-btn-font-family);
                        font-size: var(--ar-btn-font-size);
                        font-weight: var(--ar-btn-font-weight);
                        line-height: var(--ar-btn-line-height);
                        color: #A13E97;
                        text-align: center;
                        text-decoration: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        border: 1px solid #A13E97;
                        border-radius: var(--ar-btn-border-radius);
                        background-color: var(--ar-btn-bg);
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
                    }
                    
                    .S_btn_5:hover {
                        color: #fff;
                        background-color: #A13E97;
                        border-color: #A13E97;
                    }
                    
                    .S_btn-payment {
                        --ar-btn-hover-color: #fff;
                        --ar-btn-active-color: #fff;
                        --ar-btn-hover-bg: #a13E97;
                        --ar-btn-active-bg: #632A7E;
                        --ar-btn-hover-border-color: #632A7E;
                        --ar-btn-active-border-color: #fff;
                    }
                    
                    .S_btn-payment {
                        --ar-btn-color: #000;
                        --ar-btn-bg: #A13E97;
                        --ar-btn-border-color: #A13E97;
                        --ar-btn-hover-color: rgb(255, 255, 255);
                        --ar-btn-hover-bg: #632A7E;
                        --ar-btn-hover-border-color: #632A7E;
                        --ar-btn-focus-shadow-rgb: 58, 119, 99;
                        --ar-btn-active-color: #000;
                        --ar-btn-active-bg: #632A7E;
                        --ar-btn-active-border-color: #632A7E;
                        --ar-btn-active-shadow: unset;
                        --ar-btn-disabled-color: #000;
                        --ar-btn-disabled-bg: #A13E97;
                        --ar-btn-disabled-border-color: #A13E97;
                    }
                    /* 어라운드 아이콘 색상 설정 */
                    
                    .S_nav_cart {
                        --ar-nav-link-hover-color: #A13E97;
                    }
                    
                    .S_nav-link {
                        display: block;
                        padding: var(--ar-nav-link-padding-y) var(--ar-nav-link-padding-x);
                        font-size: var(--ar-nav-link-font-size);
                        font-weight: var(--ar-nav-link-font-weight);
                        color: var(--ar-nav-link-color);
                        text-decoration: none;
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out
                    }
                    
                    .S_nav-link:hover,
                    .S_nav-link:focus {
                        color: var(--ar-nav-link-hover-color)
                    }
                    /* 목록필터 */
                    
                    .nav-link {
                        display: block;
                        padding: 0.725rem 1.75rem;
                        color: #434a57;
                        text-decoration: none;
                        transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out
                    }
                    
                    @media(prefers-reduced-motion: reduce) {
                        .S_nav-link {
                            transition: none
                        }
                    }
                    
                    .nav-link:hover,
                    .nav-link:focus {
                        color: #A13E97
                    }
                    
                    .S_nav-link.disabled {
                        color: #858c97;
                        pointer-events: none;
                        cursor: default;
                    }
                    
                    .nav-link.active:not([data-bs-toggle=dropdown]) {
                        pointer-events: none;
                        cursor: default;
                    }
                    
                    .nav-pills .nav-link.active,
                    .nav-pills .show>.nav-link {
                        color: #fff;
                        background-color: #A13E97;
                    }
                    
                    .nav-pills .nav-link {
                        background: none;
                        border: 0;
                        border-radius: 50rem;
                    }
                    /* 선 긋기 */
                    
                    .border {
                        border: 1px solid #A13E97 !important;
                    }
                    
                    .border_g1 {
                        border: 1px solid #e9ecef !important;
                    }
                    
                    .border_1 {
                        border-style: solid;
                        border-color: #632A7E;
                        border-width: 2px 0px 0px 0px;
                    }
                    
                    .border_2 {
                        border-style: solid;
                        border-color: #632A7E;
                        border-width: 0px 0px 2px 0px;
                    }
                    /* top1,2,3,4,5 컬러 */
                    
                    .bg-p_1 {
                        --ar-bg-opacity: 0.1;
                        background-color: #29103A, var(--ar-bg-opacity) !important
                    }
                    
                    .bg-p_2 {
                        --ar-bg-opacity: 0.1;
                        background-color: #3D1F53, var(--ar-bg-opacity) !important
                    }
                    
                    .bg-p_3 {
                        --ar-bg-opacity: 0.1;
                        background-color: #5D2977, var(--ar-bg-opacity) !important
                    }
                    
                    .bg-p_4 {
                        --ar-bg-opacity: 0.1;
                        background-color: #793381, var(--ar-bg-opacity) !important
                    }
                    
                    .bg-p_5 {
                        --ar-bg-opacity: 0.1;
                        background-color: #973D8C, var(--ar-bg-opacity) !important
                    }
                    
                    .bg-p_10 {
                        --ar-bg-opacity: 1;
                        background-color: #F9F5F9 !important;
                    }
                    
                    .bg-p_9 {
                        --ar-bg-opacity: 1;
                        background-color: #F4EBF3 !important;
                    }
                    
                    .bg-p_8 {
                        --ar-bg-opacity: 1;
                        background-color: #EAD8E8 !important;
                    }
                    /* new/sale color */
                    
                    .E_bg-red {
                        background-color: rgba(238, 43, 41, 0.2) !important;
                    }
                    
                    .E_text-red {
                        color: #EE2B29 !important;
                    }
                    
                    .E_bg-green {
                        background-color: rgba(63, 164, 63, 0.2) !important;
                    }
                    
                    .E_text-green {
                        color: #3FA43F !important;
                    }
                    /* 체크박스 */
                    
                    .form-check-input:checked {
                        background-color: #a13E97;
                        border-color: #a13E97;
                    }
                    
                    .form-check-input[type=checkbox]:indeterminate {
                        background-color: #a13E97;
                        border-color: #a13E97;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
                    }
                    
                    @media(prefers-reduced-motion: reduce) {
                        .form-switch .S_form-check-input {
                            transition: none
                        }
                    }
                    
                    .was-validated .form-check-input:valid:checked,
                    .form-check-input.is-valid:checked {
                        background-color: #a13E97;
                        border-color: #a13E97;
                    }
                    /* 결제페이지 */
                    /* 내활동 */
                    
                    .nav-tabs {
                        --ar-nav-tabs-border-width: var(--ar-border-width);
                        --ar-nav-tabs-border-color: transparent;
                        --ar-nav-tabs-border-radius: var(--ar-border-radius);
                        --ar-nav-tabs-link-hover-border-color: transparent;
                        --ar-nav-tabs-link-active-color: #A13E97;
                        --ar-nav-tabs-link-active-bg: transparent;
                        --ar-nav-tabs-link-active-border-color: #A13E97;
                        border-bottom: var(--ar-nav-tabs-border-width) solid var(--ar-nav-tabs-border-color)
                    }
                    
                    .a_none {
                        text-decoration: none;
                        color: #576071;
                    }
                    
                    .btn-primary {
                        --ar-btn-color: #000;
                        --ar-btn-bg: #A13E97;
                        --ar-btn-border-color: #A13E97;
                        --ar-btn-focus-shadow-rgb: 58, 119, 99;
                        --ar-btn-active-shadow: unset;
                        --ar-btn-disabled-bg: #A13E97;
                        --ar-btn-disabled-border-color: #A13E97;
                    }