:root {
    /* color */
    --grey-color: #979797;
    --link-color: #979797;
    --link-hover-color: #979797;
}

h6 {
    margin-bottom: 0 !important;
    font-size: 14px !important;
    color: #979797 !important;
}

/* button:hover {
    color: white;
    background-color: #1e4d56;
} */

.breadcrumb .breadcrumb-item a {
    color: #979797;
}

.breadcrumb li {
    color: #979797;
}

.breadcrumb .presentPage {
    color: #86cbc0;
}

.row {
    display: flex;
    justify-content: center;
}

.mainPic {
    height: 350px;
}

.row1-bw {
    padding-top: 10px;
    padding-bottom: 1px;
}

.row2-bw {
    padding-bottom: 5px;
    display: flex;
}

.list-title {
    text-align: center;
}

.inputFileBw {
    display: inline-block !important;
}

.TitleTextArea-bw {
    margin-bottom: 5px;
}

.TitleTextArea_input {
    border: 1px solid #c7c7c7;
    border-radius: var(--ar-border-radius);
    padding: 0 10px;
    height: 50px;
    resize: none;
    font-size: 30px;
    width: 100%;
}

.writeType-bw {
    border: 1px solid #c7c7c7;
    border-radius: var(--ar-border-radius);
    padding: 0 10px;
    width: 60%;
    height: 50px;
    font-size: 30px;
}

.uploadBox-bw {
    padding-left: 10px;
    width: 40%;
    font-size: 20px;
}

.uploadBox-bw label:hover {
    color: white;
    background-color: #000000;
}

.uploadBox-bw .uploadName-bw {
    display: inline-block;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    border: 1px solid #c7c7c7;
    border-radius: var(--ar-border-radius);
    width: 63%;
    color: #979797;
}

.uploadBox-bw label {
    display: inline-block;
    width: 35%;
    padding: 10px 20px;
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: var(--ar-border-radius);
    background-color: #979797;
    cursor: pointer;
    height: 50px;
}

.uploadBox-bw input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.writeEditor-bw {
    padding-left: 0 !important;
}

.writingBtn-bw {
    padding-top: 20px;
}

.writing-buttonsGolist {
    font-size: 20px;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: var(--ar-border-radius);
    text-decoration: none;
    color: white;
    background: #efbe6f;
    border: 1px #efbe6f;
}

.writingBtn-upload button:hover {
    color: white;
    background-color: #1e4d56;
}

.writing-buttonsEnter {
    font-size: 20px;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: var(--ar-border-radius);
    background: #86cbc0;
    border: 1px #86cbc0;
    color: white;
    float: right;
    text-align: right;
}